<!-- ⚠️ Change to loop if proper seeds available -->
<div class="flex-column">

  <% @games.each do |game| %>
    <%= link_to game_path(game.id), style: 'text-decoration: none' do %>
      <div class="card-for-games <%= @bg_colors[rand(@bg_colors.length)] %>">
        <%= image_tag game.img[6..game.img.length], class: 'card-img' %>
        <p><%= game.title %></p>
      </div>
    <% end %>
  <% end %>

  <div class="outer-morph-div fixed-to-bottom flex-flex-flex">
    <div class="morph-flex fixed-to-bottom">
      <div class="morph-div">
        <%= link_to game_path(@random_game) do %>
          <i class="fas fa-random"></i>
        <% end %>
      </div>
      <div class="morph-div">
        <%= link_to dashboard_path do %>
          <i class="fas fa-trophy"></i>
        <% end %>
      </div>
    </div>
  </div>

</div>

<%= link_to 'LOGOUT', destroy_user_session_path, method: 'DELETE' %>
