<!-- ⚠️ Change to loop if proper seeds available -->
<div class="flex-column">

  <% @games.each do |game| %>
    <%= link_to game_path(game.id), style: 'text-decoration: none' do %>
      <% case game.difficulty %>
      <% when "easy" %>
        <% color = @bg_colors[0] %>
      <% when "medium" %>
        <% color = @bg_colors[1] %>
      <% when "hard" %>
        <% color = @bg_colors[2] %>
      <% end %>
      <div class="card-for-games <%= color %> black-text">
        <%= image_tag game.img[6..game.img.length], class: 'card-img-big' %>

        <div class="flex-column">
          <p><%= game.title %></p>

          <div class="flex-end-last flex-column">
            <% case game.difficulty
              when 'easy' %>
              <h2><%= game.difficulty %></h2>
              <i class="fas fa-lightbulb"></i>
            <% when 'medium' %>
              <h2><%= game.difficulty %></h2>
              <i class="fas fa-bolt flex-end-last"></i>
            <% when 'hard' %>
              <h2><%= game.difficulty %></h2>
              <i class="fas fa-bomb"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="outer-morph-div fixed-to-bottom">
    <div class="flex-for-cards">
      <%= link_to game_path(@random_game) do %>
        <div class="morph-div">
            <i class="fas fa-random"></i>
        </div>
      <% end %>
      <%= link_to dashboard_path do %>
        <div class="morph-div">
            <i class="fas fa-trophy"></i>
        </div>
      <% end %>
    </div>
  </div>

</div>

<div class="spacer"></div>
