<div class="flex-column">
  <div class="carousel main-carousel">
    <div class="first-slide">
      <h1><%= @game.title %></h1>
      <p> swipe through to learn more </p>
    </div>
    <div class="second-slide">
      <% case @game.difficulty when 'easy' %>
        <div class="difficulty-container">
          <i class="fas fa-lightbulb green-f"></i>
          <h2><%= @game.difficulty %></h2>
        </div>
      <% when 'medium' %>
        <div class="difficulty-container">
          <i class="fas fa-bolt yellow-f"></i>
          <h2><%= @game.difficulty %></h2>
        </div>
      <% when 'hard' %>
        <div class="difficulty-container">
          <i class="fas fa-bomb red-f"></i>
          <h2><%= @game.difficulty %></h2>
        </div>
      <% end %>
      <div class="instructions-container">
        <p><%= @game.instructions %></p>
        <%= image_tag @game.img[6..@game.img.length], class: 'card-img-big' %>
      </div>
    </div>
    <div class="third-slide">
      <p> watch this </p>
      <iframe width="100%" height="315"
        src="https://www.youtube.com/embed/<%= @game.video %>"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
      <p> and once you are ready press play </p>
    </div>

    <div class="carousel-cell carousel-big-font flex-column-all">
      <p> thanks for swiping </p>
    </div>

  </div>
  <%= link_to 'PLAY', game_play_sessions_path(@game), class: 'black-button', method: 'POST'%>
  <%= link_to(games_path, class: "go-back-button") do %>
    <i class="fas fa-chevron-left"></i>
  <% end %>
</div>
