<div class="flex-column">
  <div class="carousel main-carousel">
    <div class="carousel-cell carousel-center">

      <h1><%= @game.title %></h1>

      <iframe width="100%" height="315"
        src="https://www.youtube.com/embed/<%= @game.video %>"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>

    <div class="carousel-cell flex-flex-flex">
      <div class="flex-column-all">
        <p><%= @game.instructions %></p>
        <%= image_tag @game.img[6..@game.img.length], class: 'card-img-big' %>
      </div>
    </div>

    <div class="carousel-cell carousel-big-font flex-column-all">
      <% case @game.difficulty
    when 'easy' %>
        <h2><%= @game.difficulty %></h2>
        <i class="fas fa-lightbulb green-f"></i>
      <% when 'medium' %>
        <h2><%= @game.difficulty %></h2>
        <i class="fas fa-bolt yellow-f"></i>
      <% when 'hard' %>
        <h2><%= @game.difficulty %></h2>
        <i class="fas fa-bomb red-f"></i>
      <% end %>
    </div>

  </div>
  <%= link_to 'PLAY', play_session_path, class: 'black-button' %>
</div>
