<div class="flex-space-between">  
  <div>
    <i class="fas fa-coins flex-coins padding-item"></i>
    <p class="padding-p"><%= current_user.balance %></p>
  </div>
  <div>
    <i class="fas fa-trophy flex-trophy padding-item"></i>
    <p class="padding-p">0</p>
  </div>
  <div>
    <i class="fas fa-award flex-award padding-item"></i>
    <p class="padding-p">0</p>
  </div>
</div>

<div class="flexy-hexi">
  <ul class="hex-grid__list flexy-hexi">

    <li class="hex-grid__item">
      <div class="hex-grid__content">
        <% if @streak >= 3 %>
          <p>#</p>
          <i class="fas fa-award hex-sym-big"></i>
        <% else %>
          <i class="fas fa-lock hex-sym-big"></i>
        <% end %>
      </div>
    </li>

    <li class="hex-grid__item">
      <div class="hex-grid__content">
        <% if @streak >= 5 %>
          <p>#</p>
          <i class="fas fa-award hex-sym-big"></i>
        <% else %>
          <i class="fas fa-lock hex-sym-big"></i>
        <% end %>
      </div>
    </li>

    <li class="hex-grid__item">
      <div class="hex-grid__content">
        <% if @streak >= 7 %>
          <p>#</p>
          <i class="fas fa-award hex-sym-big"></i>
        <% else %>
          <i class="fas fa-lock hex-sym-big"></i>
        <% end %>
      </div>
    </li>

    <li class="hex-grid__item">
      <div class="hex-grid__content">
        <% if @streak >= 14 %>
          <p>#</p>
          <i class="fas fa-award hex-sym-big"></i>
        <% else %>
          <i class="fas fa-lock hex-sym-big"></i>
        <% end %>
      </div>
    </li>

    <li class="hex-grid__item">
      <div class="hex-grid__content">
        <% if @streak >= 30 %>
          <p>#</p>
          <i class="fas fa-award hex-sym-big"></i>
        <% else %>
          <i class="fas fa-lock hex-sym-big"></i>
        <% end %>
      </div>
    </li>

    <li class="hex-grid__item">
      <div class="hex-grid__content">
        <% if @streak >= 60 %>
          <p>#</p>
          <i class="fas fa-award hex-sym-big"></i>
        <% else %>
          <i class="fas fa-lock hex-sym-big"></i>
        <% end %>
      </div>
    </li>
  </ul>
</div>


<h1>LeaderBoard</h1>


<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Nickname</th>
      <th>Coins</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= user.nickname%></td>
        <td><%= user.balance%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="flex-move-bottom-right">
  <%= link_to 'LOGOUT', destroy_user_session_path, method: 'DELETE' %>
</div>

<%= @streak %>
