<h1 class="heading-format">HEY I am DASCHBOARD!! 😵‍💫</h1>
<div class="flexy-hexi">
  <ul class="hex-grid__list flexy-hexi">
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-unlocked">
          <p>Second</p>
          <i class="fas fa-fire hex-sym-big"></i>
        </div>
      </li>
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-unlocked">
          <p>First</p>
          <i class="fas fa-award hex-sym-big"></i>
        </div>
      </li>
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-locked">
          <i class="fas fa-lock hex-sym-big"></i>
        </div>
      </li>
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-locked">
          <i class="fas fa-lock hex-sym-big"></i>
        </div>
      </li>
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-locked">
          <i class="fas fa-lock hex-sym-big"></i>
        </div>
      </li>
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-locked">
          <i class="fas fa-lock hex-sym-big"></i>
        </div>
      </li>
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-locked">
          <i class="fas fa-lock hex-sym-big"></i>
        </div>
      </li>
      <li class="hex-grid__item">
        <div class="hex-grid__content hex-sym-locked">
          <i class="fas fa-lock hex-sym-big"></i>
        </div>
      </li>
  </ul>
</div>


<h1>LeaderBoard</h1>


<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Nickname</th>
      <th>Coins</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= user.nickname%></td>
        <td><%= user.balance%></td>
      </tr>
    <% end %>
  </tbody>
</table>







<div class="flex-move-bottom-right">
  <%= link_to 'LOGOUT', destroy_user_session_path, method: 'DELETE' %>
</div>


<%= @counter %>
